    {{!-- banner2 section --}}

    <section class="banner2_section ">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-6 text-center pt-5">
                    {{!-- Left side --}}
                    <h3>{{data.heading}}</h3>
                    <p>
                      {{data.subHeading}}
                    </p>
                    <button class="btn btn-primary">Click here</button>
                </div>
                <div class="col-md-6 text-center pb-5">
                    {{!-- Right side --}}
                    <img src="{{data.iconURL}}" style="height:300px;" alt="Book sit on book">
                </div>
            </div>
        </div>
    </section>